.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
lib/
out/
.idea/
.idea\
.idea_modules/
.idea/vcs.xml
*.iml
*.ipr
*.iws
.gradle/7.1/executionHistory/executionHistory.bin


sServerControl