/*
 * @author Sal4iDev
 * @version 1.3
 * @Discord Sal4iDev#4767
*/

.block-selector > .list-view {
    -fx-control-inner-background: rgb(2, 2, 2);
    -fx-control-inner-background-alt: rgb(2, 2, 2);
}

.dialog-pane {
    -fx-background-color: derive(-fx-background, -30%);
}

.error-popover .label {
    -fx-background-color: black;
    -fx-border-color: white;
}

.expression-selector .list-view {
    -fx-control-inner-background: black;
    -fx-control-inner-background-alt: black;
}

.extension-view {
    -fx-border-color: black;
}

.extension-view .list-view {
    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: rgb(20, 20, 20);
    -fx-selection-bar: -fx-accent;
    -fx-selection-bar-non-focused: -fx-accent;
}

.log-display {
    -fx-border-color: black;
}

.log-display .content {
    -fx-background-color: black;
    -fx-border-color: black;
}

.menu-bar {
    -fx-background-color: rgb(2, 2, 2);
}

.root {
    -fx-accent: rgb(63, 81, 181);
    -fx-background: rgb(2, 2, 2);
    -fx-base: rgb(48, 51, 56);
    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: black;
    -fx-light-text-color: white;
}

.tab-pane .tab-header-background {
    /*-fx-background-color: derive(-fx-background, 5%);*/
    -fx-background-color: rgb(3, 3, 3);
}


.plugin-component-block {
    -fx-background-color: rgb(143, 76, 186);
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.plugin-component-pane {
    -fx-border-color: black;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 10;
}

.plugin-component-source {
    -fx-background-color: rgb(143, 76, 186);
}


.expression-block {
    -fx-padding: 7;
}

.expression-parameter {
    -fx-padding: 3;
}

.container-block {
    -fx-padding: 8 8 25 8;
}